 /* 词云球的css */
#photo{
    margin-left: 1%;
    margin-top:1%;
    margin-right:50px;
    width:97%;
    background-color: rgb(255, 255, 255);
    padding: 3px;
}
#photo1{
    margin:10px;
    background-color: #fff;
}
#wrap{
    /* 相对定位 */
    position: relative;
    left: 25%;
    top: 60%;
    height:350px;
}
#wrap .tag{
    /* 用来处理行内非替换元素宽高问题 */
    display: inline-block;
    /* 绝对定位 */
    position: absolute;
    height: 50px;
    /* 行高与高度一致，文字会垂直居中 */
    line-height: 350px;
    /* 修改文字字体大小 */
    font-size: 20px;
    /* 去除a标签下划线 */
    text-decoration: none;
}
/* 
#wrap a{position: relative;}
#wrap a:hover:before{
    position: absolute;
    top: 200px;
    right: 0;
    content: attr(title);
    color: #fff;
    border:1px solid #242424;
    background-color: #161515;
} */

