.container {
    height: 100px;
    width: 1600px;
    padding-left: 50px;
    /* margin: 100px auto 0 auto; */
    }
.parent {
    position: relative;
}
.search {
    width: 85%;
    height: 60px;
    border-radius: 36px;
    outline: none;
    border: 2px solid #ffffff;
    padding-left: 40px;
    padding-top: 5px;
    position: absolute;
    font-size: 20px;
}
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("../templates/image/mag.png") no-repeat transparent;
    top: 14px;
    left: 1330px;
    border: none;
    outline: none;
    cursor: pointer;
}

#results-container {
    width: 100%;
    max-width: 1450px;
    overflow: hidden;
    
}

#results-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

#results-list li {
    background-color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#results-list li:hover {
    transform: scale(1.02);
}




.result-title {
    padding-left: 1.2%;
    transition: color 0.3s ease;
    font-size: 14px;
    margin-top: 1.5%;
    color: #39454e;
}

.result-title:hover {
    color: #438ede;
}

.emo {
    font-size: 20px;
    border-radius: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 2%;
    padding-top: 2px;
    margin-right: 4%;
}

#emo_p {
    background-color: #28a745; /* 正面：绿色 */
}

#emo_n {
    background-color: #dc3545; /* 负面：红色 */
}

#emo_m {
    background-color: #ffc107; /* 中性：黄色 */
}

.data {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    color: #555;
}

#time, #source {
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.row-container1{
    padding-bottom: 1%;
    border-bottom: 1px solid rgb(132, 148, 201);
}

