html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

header {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgb(56, 66, 93, 1);  
    padding: 30px;
    padding-bottom: 25px;  
    padding-top: 25px;
    text-align: center;  
    display: flex;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: rgb(136, 162, 188);
    z-index: 100;
}  

main {
    padding-top: 82px; /* 与 <header> 的高度保持一致 */
}
header a{
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
}
li a:hover{
    color: rgb(132, 173, 214);
}
li a:active{
    color: rgb(8, 173, 199);
}

ul li{
    float:left;
    margin: 0px 50px;
    font-size: 25px;
    font-weight:300;
    font-family:inherit ;
    
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit
}

.h1, h1 {
    font-size: 36px
}

.h2, h2 {
    font-size: 30px
}

.h3, h3 {
    font-size: 24px
}

.h4, h4 {
    font-size: 18px
}

.h5, h5 {
    font-size: 16px
}

.h6, h6 {
    font-size: 14px
}




.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px
}





@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-lg-8{
        flex: 0 0 49%;
        max-width: 49%
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}






/* card位于style.min.css的22286行起 */
/* style.css的3764行 */
/* style.css的8344行 */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem; 
}




.border-top {
    border-top: 1px solid #e9ecef !important
}




body {
    margin: 0;
    overflow-x: hidden;
    color: #3e5569;
    background: #fff
}

html {
    position: relative;
    min-height: 100%
}





#main-wrapper {
    max-width: 2000px;
    /* margin: 0 auto; */
    /* margin: auto 1% auto 0; */
    position: relative;
    box-shadow: 1px 0 80px rgba(0, 0, 0, .2);
    background-color: #f0fbff;
    justify-content: space-between;
    padding-bottom: 2rem;
}



/* 最外层的盒子 */
.box1 {
    /* display: flex; */
    /* flex导致网页宽度缩小时框可能被压缩的很小 */
    flex-wrap: wrap;
    background-color: rgb(245, 241, 241);
    /* border:1px solid black; */
    position: relative;
    box-shadow: 1px 0 8px rgba(0, 0, 0, .1);
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
}


/* 不允许换行有边界 */
.box2 {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(245, 241, 241);
    /* border:1px solid black; */
    position: relative;
    box-shadow: 1px 0 80px rgba(0, 0, 0, .1);
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    overflow: hidden;
}

/* 允许换行无边界盒子 */
.box3{
    /* display: flex; */
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    /* border:1px solid black; */
    position: relative;
    width: 100%;
}

/* flex的box3 */
.box4{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    /* border:1px solid black; */
    position: relative;
    width: 100%;
}

/* 不允许换行无边界 */
.box5 {
    /* display: flex; */
    flex-wrap: nowrap;
    background-color: rgb(245, 245, 245);
    /* border:1px solid black; */
    position: relative;
    box-shadow: 1px 0 80px rgba(0, 0, 0, .1);
    width: 95%;
    overflow: hidden;
    margin-left: 3%;
}



/* 等距排列 */
.jc-sb{
    /* margin-top: .5rem; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* padding:2rem */
    /* align-items: center; */
    justify-content: space-between;
    
}


.m-t-10 {
    margin-top: 10px; 
}


.d-flex {
    display: flex !important
}


.align-items-center {
    align-items: center;
    margin-top: 2%;
    padding-left: 8%;
    
}



.create-tab-report {
    list-style: none;
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0;
    margin: 0;
}


.create-tab-report>li{
    padding: 10px 5px !important;
}

.create-tab-report>li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    padding: 0 5px 10px 5px;
}

.create-tab-report>li{
    cursor: pointer;
}
 
.create-tab-report>li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #37a0bd;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.3s ease-in;
    /* 上面这句是动态效果 */
}





.pro-bb {
    border-bottom: 1px solid #dee2e6;
}

.create-tab-act {
    color: #378197;
}

.create-tab-act::after {
    width: 100% !important;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
}



#hotEventRanking{
    display: block;
    min-height: 40px;
}

#hotEventRanking .over-load{
    margin-top: -5px;
}


.container {
    height: 60px;
    width: 800px;
    /* margin: 100px auto 0 auto; */
    }
.parent {
    position: relative;
}
.search {
    width: 70%;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
.btn {
    height: 40px;
    width: 40px;
    position: absolute;
    background: url("../templates/image/refresh.png") no-repeat transparent;
    top: 55px;
    right: 100px;
    border: none;
    outline: none;
    cursor: pointer;
}



#hotpoint{
    list-style: none; /* 隐藏默认列表标记 */
    padding: 0; 
    /* 移除默认的内边距 */
    /* margin: 0;  */
    /* 移除默认的外边距 */
    display: flex;
    flex-direction: column;
}

#hotpoint>li{
    display:flex;
    border-bottom: 1px solid #ccc;
    margin-left: 0%;
    border-left: 20px solid #294170;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block; /* 将列表项设置为块级元素，使其呈一列排列 */
    color: rgb(30, 30, 30);
    font-size: 22px;
    /* margin-bottom: 10px; */
}

a{
    text-decoration: none;
    color: black;
}


.redirect_link:hover{
    color: rgb(33, 117, 213);
}



.row-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}

.tag-neutral{
    margin-right:.2%;
    font-size:16px;
    border-radius: 12px;
    background-color: #eed13f;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .3%;
    padding-bottom: .3%;
    margin-bottom: .5%;
    color: #474954;
    font-family: SimSun;
    font-weight: bold;
    box-shadow: 5px 3px 4px rgba(72, 72, 72, 0.2);

}



.tag-negative{
    margin-right:.2%;
    font-size:16px;
    border-radius: 12px;
    background-color: #ce2828;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .3%;
    padding-bottom: .3%;
    margin-bottom: .5%;
    color: #e3e3e3;
    font-family: SimSun;
    font-weight: bold;
    box-shadow: 5px 3px 4px rgba(72, 72, 72, 0.2);

}


.tag-positive{
    margin-right:.2%;
    font-size:16px;
    border-radius: 12px;
    background-color: #56dca8;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .3%;
    padding-bottom: .3%;
    margin-bottom: .5%;
    color: #4d4848;
    font-family: SimSun;
    font-weight: bold;
    box-shadow: 5px 3px 4px rgba(72, 72, 72, 0.2);

}



#shadow{
    background: linear-gradient(to right, #eaeaea, #ffffff);

}

.number_data{
    display: inline;
    font-size: 16px;
    color: #7484ae;
    font-family: SimHei;
    padding-left: 2%;
    padding-right: 2px;
    margin-right: 2%;

}

.box_hottopics1{
    display:inline-block;
    padding-left: 8px;
    padding-top: 6px;
    justify-content: flex-end;
    white-space: nowrap;
}
.box_hottopics2{
    display:inline-block;
    display: flex;
    padding-right: 8px;
    padding-top: 6px;
    justify-content: flex-end;
    white-space: nowrap;
    flex-grow: .1;
    align-items: center;
    justify-content: space-between;
}

.tag_data{
    color: rgb(154, 164, 196);
    font-weight: 400;
    font-stretch: 25%;
    font-size: 18px;
    /* padding-left: 2%; */
    /* padding-right: 10%; */
    margin-right: 16%;
   
}


.emo_per{
    font-size: 28px;
    margin-top: 14%;
    margin-bottom: 14%;
    line-height: 1.5;
}

.emo_pos{
    border-left: 16px solid rgb(214, 81, 159);
    padding-left: 4%;
    padding-right: 6%;
    color: #573c57;
    padding-top: .8%;
    padding-bottom: .8%;
}

.emo_neg{
    border-left: 16px solid rgb(68, 81, 223);
    padding-left: 4%;
    padding-right: 6%;
    color: #313761;
    padding-top: .8%;
    padding-bottom: .8%;
}

.emo_mid{
    border-left: 16px solid rgb(98, 170, 215);
    padding-left: 4%;
    padding-right: 6%;
    color: #2f4651;
    padding-top: .8%;
    padding-bottom: .8%;
}


.hotword{
    margin-bottom: 2%;
    margin-left:2%;
    padding-left: 3%;
}

.hot1{
    border-left: 14px solid #dc5d80;
}

.hot2{
    border-left: 14px solid #8d63c5;
}

.hot3{
    border-left: 14px solid #6770ce
}

.hot4{
    border-left: 14px solid #63ceb7;
}

.hot5{
    border-left: 14px solid #fbd679;
}

.hotwords{
    margin-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    border-bottom: 1px solid rgb(213, 213, 213);
    margin-left: 2%;
    padding-left: 1%;
    margin-right: 8%;
}


.hot_num{
    float: right;
    padding-right: 10%;
    width: 140px;
}