/* 预设颜色和其他变量 */
:root {
    --gray-dark: #343a40;
    --blue: #2962FF;
    --indigo: #6610f2;
    --pink: #e83e8c;
    --red: #f62d51;
    --yellow: #ffbc34;
    --green: #36bea6;
    --teal: #20c997;
    --white: #fff;
    --gray: #6c757d;
    --primary: #7460ee;
    --secondary: #6c757d;
    --success: #36bea6;
    --info: #2962FF;
    --warning: #ffbc34;
    --danger: #f62d51;
    --light: #f8f9fa;
    --dark: #343a40;
    --cyan: #4fc3f7;
    --orange: #fb8c00;
    --purple: #7460ee;
    --bg1:#D3DDFD;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1600px;
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}


button {
    border-radius: 0
}

button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}


/* [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=radio], input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
    -webkit-appearance: listbox
} */


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit
}

.h1, h1 {
    font-size: 36px
}

.h2, h2 {
    font-size: 30px
}

.h3, h3 {
    font-size: 24px
}

.h4, h4 {
    font-size: 18px
}

.h5, h5 {
    font-size: 16px
}

.h6, h6 {
    font-size: 14px
}


/* .lead {
    font-size: 1.09375rem
}

.display-1 {
    font-size: 6rem
}

.display-2 {
    font-size: 5.5rem
}

.display-3 {
    font-size: 4.5rem
}

.display-4 {
    font-size: 3.5rem
} */


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px
}



.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px
}

.col {
    flex-basis: 0;
    flex-grow: 1
}

.col-auto {
    flex: 0 0 auto;
    width: auto
}

.col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}

.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%
}

.col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%
}

.col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}



@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%
    }

    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }

    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }

    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }

    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }

    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }

    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }

    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }

    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }

    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }

    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }

    .order-lg-first {
        order: -1
    }

    .order-lg-last {
        order: 13
    }

    .order-lg-0 {
        order: 0
    }

    .order-lg-1 {
        order: 1
    }

    .order-lg-2 {
        order: 2
    }

    .order-lg-3 {
        order: 3
    }

    .order-lg-4 {
        order: 4
    }

    .order-lg-5 {
        order: 5
    }

    .order-lg-6 {
        order: 6
    }

    .order-lg-7 {
        order: 7
    }

    .order-lg-8 {
        order: 8
    }

    .order-lg-9 {
        order: 9
    }

    .order-lg-10 {
        order: 10
    }

    .order-lg-11 {
        order: 11
    }

    .order-lg-12 {
        order: 12
    }
}



.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px
}

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px
}



/* card位于style.min.css的22286行起 */
/* style.css的3764行 */
/* style.css的8344行 */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem; 
}




/* breadcrumb位于style.min.css的22540行 */
/* .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1.5rem;
    background-color: #eef5f9
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: .5rem
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/"
}

.carousel-inner::after, .clearfix::after, .embed-responsive::before, .modal-dialog-centered::before, .popover .arrow::after, .popover .arrow::before, .tooltip .arrow::before {
    content: ""
}

.breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none
}

.breadcrumb-item.active {
    color: #6c757d
} */



.media {
    display: flex;
    align-items: flex-start
}

.media-body {
    flex: 1
}



body {
    margin: 0;
    overflow-x: hidden;
    color: #3e5569;
    background: #fff
}

html {
    position: relative;
    min-height: 100%
}





/* 数据概览的盒子 */
.dataOutview {
    display: flex;
    background-color: white;
    /* border:1px solid black; */
    position: relative;
    box-shadow: 1px 0 80px rgba(0, 0, 0, .1);
    width: 97%;
    margin: auto;
}



/* style.css的5339行 */
/* .d-flex {
    display: flex !important; } */

    


/* main-wrapper从28101行开始 */
/* #main-wrapper[data-layout=vertical][data-sidebartype=full] .page-wrapper {
    margin-left: 190px
}

#main-wrapper[data-layout=vertical][data-sidebartype=iconbar] .page-wrapper {
    margin-left: 180px
}

#main-wrapper[data-layout=vertical][data-sidebartype=iconbar] .left-sidebar, #main-wrapper[data-layout=vertical][data-sidebartype=iconbar] .sidebar-nav ul .sidebar-item, #main-wrapper[data-layout=vertical][data-sidebartype=iconbar] .topbar .top-navbar .navbar-header {
    width: 180px
}

#main-wrapper[data-layout=vertical][data-sidebartype=iconbar] .sidebar-nav ul .sidebar-item .sidebar-link {
    display: block;
    text-align: center
}

#main-wrapper[data-layout=vertical][data-sidebartype=iconbar] .sidebar-nav ul .sidebar-item .sidebar-link i {
    display: block;
    width: auto
}

#main-wrapper[data-layout=vertical][data-sidebartype=overlay] .topbar .top-navbar .navbar-header {
    width: 190px
}

#main-wrapper[data-layout=vertical][data-sidebartype=overlay] .left-sidebar {
    left: -190px
}

#main-wrapper[data-layout=vertical][data-sidebartype=overlay].show-sidebar .left-sidebar {
    left: 0
}

#main-wrapper[data-layout=vertical][data-sidebar-position=fixed] .topbar .top-navbar .navbar-header {
    position: fixed;
    z-index: 10
}

#main-wrapper[data-layout=vertical][data-sidebar-position=fixed] .left-sidebar {
    position: fixed
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .topbar {
    position: fixed;
    width: 100%
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .page-wrapper {
    padding-top: 64px
} */

/* #main-wrapper[data-layout=vertical][data-boxed-layout=boxed] {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    box-shadow: 1px 0 80px rgba(0, 0, 0, .2)
} */

/* #main-wrapper[data-layout=vertical][data-boxed-layout=boxed][data-header-position=fixed] .topbar {
    max-width: 1200px
} */ 

/* @media (max-width: 766px) {
    #main-wrapper[data-sidebartype=mini-sidebar] .left-sidebar {
        left: -190px
    }

    #main-wrapper.show-sidebar .left-sidebar {
        left: 0
    }

    #main-wrapper[data-layout=vertical][data-header-position=fixed][data-sidebar-position=fixed] .topbar .top-navbar .navbar-collapse, #main-wrapper[data-layout=vertical][data-sidebar-position=fixed] .topbar .top-navbar .navbar-collapse {
        position: relative;
        top: 64px
    }

    .left-part {
        left: -260px;
        background: #eef5f9;
        z-index: 1;
        position: fixed;
        transition: .1s ease-in
    }

    .left-part.show-panel {
        left: 0
    }

    .reverse-mode .left-part {
        right: -260px;
        left: auto
    }

    .reverse-mode .left-part.show-panel {
        right: 0
    }

    .right-part {
        width: 100%;
        margin-left: 0
    }
} */


#main-wrapper {
    max-width: 2000px;
    /* margin: 0 auto; */
    margin: auto 1% auto 0;
    position: relative;
    box-shadow: 1px 0 80px rgba(0, 0, 0, .2);
    background-color: #dbe3ff;
    padding: 1rem;
}



/* style.min.css的24162行 */
.border-top {
    border-top: 1px solid #e9ecef !important
}



html[dir="ltr"] body .m-t-10 {
    margin-top: 10px; 
}


html[dir=rtl] body .m-t-10 {
    margin-top: 10px
}
    

.align-items-center {
    align-items: center !important
}