#newsTitle{
    margin-left: 3.8%;
    z-index: 2;
}


#newsSource{
    margin-left: 3%;
}

#newsTime{
    margin-left: 10%;
}

#newsUrl{
    list-style: None;
    color: rgb(53, 104, 163);
    margin-left: 62%;
}


.form{
    border: 1px solid rgb(207, 219, 232);
    margin: 10px;
    margin-top: 5px;
    box-shadow: 4px 3px 10px 5px rgb(217, 218, 220);
    background-color: #ffffff;

}

#emo_point{
    margin-left: 3%;
}


.mark1{
    white-space: nowrap;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: SimSun;
    color: #c7d0d9;  
    position: absolute;
    font-size: 100px;
    top: -40%;
    left: -1%;
    z-index: 1;
}


.mark2{
    white-space: nowrap;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 60%;
    font-family: SimHei;
    color: #dce5ef;  
    position: absolute;
    font-size: 144px;
    top: -61%;
    left: -1%;
    z-index: 1;
    font-weight: bold;
    overflow: hidden;
    line-height: 93px;
}


@keyframes floating-large {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-30px); }
    100% { transform: translateY(0px); }
}

@keyframes floating-medium {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

@keyframes floating-small {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.floating-large {
    animation: floating-large 5s ease-in-out infinite;
}

.floating-medium {
    animation: floating-medium 5s ease-in-out infinite;
}

.floating-small {
    animation: floating-small 5s ease-in-out infinite;
}

.form:hover {
    animation-play-state: paused;  /* 停止动画 */
}

