main {
    padding-top: 82px; /* 与 <header> 的高度保持一致 */
}



.shell{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content:left;
    align-items:flex-start;
    flex-direction: column;
    background-color: rgb(56, 66, 93, 1);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
}

.box{
    display: block;
    height: 10%;
    width: 85%;
    margin: 9px;
    border-radius: 5px;
    position: relative;
    transition: .3s;
    color: #FFFFFF;
}
.box:nth-child(1)::before,
.box:nth-child(5)::before{
    content: '';
    display: block;
    width: 100%;
    height: 20x;
    background-color: rgb(56, 66, 93, 1);
    position: absolute;
    bottom: -10px;
}
  
.shell a{
    text-decoration: none;
}.shell a:hover{
    color:rgb(132, 173, 214);
}
.shell a:active{
    color: rgb(110, 173, 237);
}


#search-form {  
    display: inline-block;  
    margin-top: 10px;  
}  
  
#search-input {  
    padding: 5px;  
    width: 200px;  
}  
  
.all{
    flex-direction: column;
}



.container {  
    display: flex;  
}  
  
.sidebar {  
    width: 350px;  
    height: 250px;
    background-color:rgb(255, 255, 255);  
    padding: 15px;  
}  
  
.sidebar h2 {  
    margin-top: 0;  
}  

.parent {
    position: relative;
}
.search {
    width: 70%;
    height: 40px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("../image/mag1.png") no-repeat transparent;
    top: 4px;
    left: 65%;
    border: none;
    outline: none;
    cursor: pointer;
}



.main_outside{
    margin-left: 13%; 
}
.main {  
    flex-grow: 1;  
    padding: 20px;     
}

table {
    width:1100px;
    height: 200px;
}

.eye{
    width:1200px;
    height: 200px;
    background-color:rgb(255, 255, 255);

}

td{
    text-align: center;
}
td a{
    text-decoration: none;
}
td a:hover{
    color:coral;
}
td a:active{
    color: deeppink;
}
.classofall{
    height:60%;
    width: 80%;
    background-color: rgba(179, 179, 237, 0.824);
    border-radius: 20px;
}

#nextpart{
    display: flex;
    background-color: #FFFFFF;
    width: 98%;
    height: 600px;
    margin-left: 1%;
    margin-top: 1%;
}


#text1{
    width: 95%;
    margin-left:3%;
    margin-top: 2%;
    background-color:azure;
}

#lastone{
    width: 90%;
    height: 300px;
}

table{
    border-collapse: collapse;
}
.section td{
   border:1px solid white;
    background-color: #FFFFFF;
}


.box1{
    flex-grow: 80%;
    margin: 2% 5%;
}
.box2{
    flex-grow: 16%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid rgb(195, 255, 249);
    padding: 3px;
    border-radius: 10px;
    background-color: rgb(195,255,249);
}

#finding{
    position:fixed;
    z-index:70;
}



input{
    width: 44px;
    height: 20px;
    /* margin-top: 14%; */
    margin-left: 4%;
}


#mark{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    color: #dcdcdc;
    border: solid 1px #d6d6d6;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

#markC{
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 10%;
    background-color: #a7afc2;
    color: rgb(56, 66, 93, 1);
    border: solid 1px #d6d6d6;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

#mark:hover{
    background-color: #c6c7ce;
    color:  rgb(69, 79, 108) ;
}

#mark1{
    color: #dfdfdf;
    margin-left: 10%;
    margin-bottom: 6%;
}

#mark2{
    margin-top: 18%;
    margin-bottom: 14%;
    color: #e4e4e4;
}

#mark2:hover{
    color: rgb(115, 175, 227);
}
