ul li{
float:left;
margin: 0px 50px;
font-size: 25px;
font-weight:300;
font-family:inherit ;

}

#hotpoint{
list-style: none; /* 隐藏默认列表标记 */
/* padding: 0;  */
/* 移除默认的内边距 */
/* margin: 0;  */
/* 移除默认的外边距 */
display: flex;
flex-direction: column;
}

#hotpoint>li{
display:flex;
border-bottom: 1px solid #ccc;
margin-left: 0%;
border-left: 20px solid #294170;
padding-left: 10px;
padding-bottom: 10px;
padding-top: 10px;
display: block; /* 将列表项设置为块级元素，使其呈一列排列 */
color: rgb(30, 30, 30);
font-size: 22px;
/* margin-bottom: 10px; */
}

a{
text-decoration: none;
color: black;
}


.redirect_link:hover{
color: rgb(33, 117, 213);
}



.row-container {
display: flex;
justify-content: space-between;
/* display: block; */

}

.tag-neutral{
margin-right:.2%;
font-size:16px;
border-radius: 12px;
background-color: #eed13f;
padding-left: 1%;
padding-right: 1%;
padding-top: .3%;
padding-bottom: .3%;
margin-bottom: .5%;
color: #474954;
font-family: SimSun;
font-weight: bold;
box-shadow: 5px 3px 4px rgba(72, 72, 72, 0.2);

}



.tag-negative{
margin-right:.2%;
font-size:16px;
border-radius: 12px;
background-color: #ce2828;
padding-left: 1%;
padding-right: 1%;
padding-top: .3%;
padding-bottom: .3%;
margin-bottom: .5%;
color: #e3e3e3;
font-family: SimSun;
font-weight: bold;
box-shadow: 5px 3px 4px rgba(72, 72, 72, 0.2);

}


.tag-positive{
margin-right:.2%;
font-size:16px;
border-radius: 12px;
background-color: #56dca8;
padding-left: 1%;
padding-right: 1%;
padding-top: .3%;
padding-bottom: .3%;
margin-bottom: .5%;
color: #2b2323;
font-family: SimSun;
font-weight: bold;
box-shadow: 5px 3px 4px rgba(72, 72, 72, 0.2);

}

#shadow{
background: linear-gradient(to right, #eaeaea, #ffffff);

}

.number_data{
display: inline;
font-size: 16px;
color: #7484ae;
font-family: SimHei;
padding-left: 2px;
padding-right: 2px;

}

.box_hottopics1{
display:inline-block;
padding-left: 8px;
padding-top: 6px;
}

.tag_data{
color: rgb(154, 164, 196);
font-weight: 400;
font-stretch: 25%;
font-size: 18px;
padding-left: 2px;
padding-right: 4px;
}

.create-tab-report {
    list-style: none;
    display: flex;
    align-items: center;
    user-select: none;
    padding: 0;
    margin: 0;
}


.create-tab-report>li{
    padding: 10px 5px !important;
}

.create-tab-report>li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    padding: 0 5px 10px 5px;
}

.create-tab-report>li{
    cursor: pointer;
}
 
.create-tab-report>li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #37a0bd;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: all 0.3s ease-in;
    /* 上面这句是动态效果 */
}
